.jumbotron
  %h1.display-4 Welcome to the Castle Rails example app

%p.lead
  This app was made to illustrate how Castle.io can be integrated within a Ruby on Rails application. It includes:
  %ul
    %li
      User model with Devise authentication
    %li
      Some relations (blog posts)
    %li
      Profile update
    %li
      Password change
    %li
      Facebook OAuth signup
