.jumbotron
  %h1.display-4 Castle Rails example app

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
  %h2.h2 About Castle.io Example App

%p.lead
  This app was made to illustrate how Castle.io can be integrated within a Ruby on Rails application. It includes:
  %ul
    %li
      User model with Devise authentication
    %li
      Profile update
    %li
      Password change
    %li
      Twitter OAuth signup

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
  %h2.h2 Details

%p
  In order to make Twitter OAuth work you need to:

  %ul
    %li Create an OAuth Twitter App
    %li Make sure, that the ""