.git
.gitignore
.circleci
.ruby-lsp
/log/*
/tmp/*
/db/*.sqlite3
/vendor/bundle
/node_modules
/coverage
/coverage.data
/public/assets
/public/packs
/spec
/config/database.yml
/config/secrets.yml
.env
.env.*
!.env.example
README.md
