development:
  domain_name: example.com
  secret_key_base: fef239dbdf8f5603739f7940fa0420c8021415f9e8649eee3d6010c5e14b9d2d136e9416493691f347ffe07548661c215e1abfd541493511ddedc8297e3972a9
  twitter_app_id: ''
  twitter_secret: ''
  castle_app_id: ''
  castle_secret: ''

test:
  secret_key_base: 1aeecc02bb42f45d82d192643a96e437c6a982a1f60c015c520ea2ca48fbbaca8ccaae9f63586402364159af81b59e5a30b6dba7a18ded91bb8473ef78d07eec
  twitter_app_id: ''
  twitter_secret: ''
  castle_app_id: ''
  castle_secret: ''

production:
  domain_name: <%= ENV['DOMAIN_NAME'] %>
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
  twitter_app_id: <%= ENV['TWITTER_APP_ID'] %>
  twitter_secret: <%= ENV['TWITTER_SECRET'] %>
  castle_app_id: <%= ENV['CASTLE_APP_ID'] %>
  castle_secret: <%= ENV['CASTLE_SECRET'] %>
